# AWS Config
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=619071349552

# API Gateway
API_URL=https://yg1h9ibm76.execute-api.us-east-1.amazonaws.com/prod

# Lambda ENV vars
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:619071349552:threat-critical-alerts
SLACK_WEBHOOK=https://hooks.slack.com/services/YOUR/WEBHOOK/HERE

# DynamoDB Tables
THREAT_TABLE=ThreatEvents
BLOCKED_TABLE=BlockedIPs

# S3
ARCHIVE_BUCKET=threat-intel-archive-godfrey

# SQS
QUEUE_URL=https://sqs.us-east-1.amazonaws.com/619071349552/threat-events-queue